.card-set {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    gap: 30px;
  }
}

.card-set__item {
  @media screen and (max-width: 767px) {
    max-width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}
